body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    margin-bottom: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-10 {
    margin-bottom: 10px;
}
.mb-30 {
    margin-bottom: 30px;
}
.m-10 {
    margin: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.t-small {
    font-size: small;
}
.t-small-bold {
    font-size: small;
    font-weight: bold;
}
.t-bold {
    font-weight: bold;
}
.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 0;
    transition: .3s linear all;
}
.card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}
.card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
}
.card-counter.info{
    background-color: #26c6da;
    color: #FFF;
}
.card-counter i{
    font-size: 5em;
    opacity: 0.2;
}
.card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}
.card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}
.count-name {
    color: #FFF;
}
.nav-active {
    color: #0000B8 !important;
    font-weight: bolder !important;
}
.panel {
    margin-top: 6px !important;
}
.border-radius-0 {
    border-radius: 0 !important;
}
.table-top {
    margin-top: 6px;
}
.table-header {
    background-color: #f5f5f5;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    vertical-align: middle !important;
}
.btn-sm-sm {
    font-size: 8px;
}